body {
  background: rgb(42, 66, 66);
  background: linear-gradient(
    0deg,
    rgba(42, 66, 66, 1) 21%,
    rgba(102, 82, 38, 1) 90%
  );
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  padding: 15px;
  height: 600px;
  width: 350px;
  border-radius: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/warm.jpg");
  background-size: cover;
  transition: 0.4s ease;
}

.box.cloudy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/cloudy.jpeg");
}

.box input {
  width: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(201, 220, 244);
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.6);
}
